@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --primary-very-dark-blue: hsl(233, 47%, 7%);
  --primary-dark-desaturated: hsl(244, 38%, 16%);
  --primary-soft-violet: hsl(277, 64%, 61%);

  --neutral-white: hsl(0, 0%, 100%);
  --netral-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-slightly-more-transparent-white: hsla(0, 0%, 100%, 0.6);

  --font-family-defaut: "Inter", sans-serif;
  --font-family-secundary: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-defaut);
  font-size: 0.9375rem;
  background-color: var(--primary-very-dark-blue);
  color: var(--neutral-white);
}

img {
  display: block;
  max-width: auto;
}

/*Main*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 150px auto;
  max-width: 1140px;
}

/*Stats*/
.stats {
  align-content: center;
  background-color: var(--primary-dark-desaturated);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 60px;
}

.stats h1 {
  font-size: 2.2rem;
  margin: 10px 0;
  letter-spacing: 0.5px;
}

.stats h1 > span {
  color: var(--primary-soft-violet);
}

.stats p {
  color: var(--netral-slightly-transparent-white);
  line-height: 1.8;
  margin-top: 30px;
  max-width: 40ch;
}

.stats-numbers {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  max-width: 350px;
}

.stats-numbers p {
  color: var(--neutral-slightly-more-transparent-white);
  font-size: 0.6875rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.stats-numbers p > span {
  color: var(--neutral-white);
  display: block;
  font-size: 1.25rem;
  font-weight: 700;

  line-height: 1.9;
}

picture img {
  border-radius: 0 10px 10px 0;
}

/*Footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
